li>a:hover{ 
    border-bottom: 3px solid #474A4F;
    padding-bottom: 5px;
    
}

li>a.navigacija:hover{ 
    border-bottom-color :#474A4F;
}

li>a.navigacija{
    color : #fff;
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 15px;
}

li>a.logovanje{
    color : #86c232;
}

li>a.logovanje:hover{
    border-bottom-color : #86c232;
}

li>a.registracija{
    color : #61892f;
}

li>a.registracija:hover{
    border-bottom-color : #61892f;
}

li>a{
    color :#6b6e70;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold !important;
}

.navbar-brand{
    margin-left: 17.5% !important;
}

li>a.user:hover{
    border-bottom: 3px solid white;
}

li>a.user{
    color: white;
}
