li>a:hover{ 
    border-bottom: 3px solid #959595;
    padding-bottom: 5px;
    
}

li>a.navigacija:hover{ 
    border-bottom-color :#959595;
}

li>a.navigacija{
    color : #fff;
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 15px;
}

li>a{
    color :#959595;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar{
    font-family: 'Segoe UI';
}