<!-- Image and text -->
<nav class="navbar" style="background-color: #212529">
    <a class="navbar-brand" href="#">
      <img src="assets/Img/Logo.png" width="125" height="55"  class="d-inline-block align-top logo" [routerLink]="'/'">
    </a>
    <ul class="nav left">
        <li class="nav-item">
            <a class="nav-link navigacija" [routerLink]="'/'">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="'/avio-company/showAvioCompanies'">Avio Company</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" >Hotel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'/rent-a-car'">Rent A Car</a>
        </li>
    </ul>
    <ul class="nav" *ngIf="this.authService.getToken() == null">
        <li class="nav-item">
            <a class="nav-link registracija" [routerLink]="'/register'">Registracija</a>
        </li>
        <li class="nav-item">
          <a class="nav-link logovanje" [routerLink]="'/login'">Logovanje</a>
        </li>
    </ul>
    <ul class="nav" *ngIf="this.authService.getToken() != null">
        <li class="nav-item">
          <a class="nav-link logovanje"  (click)="logout()">Log out</a>
        </li>
    </ul>
  </nav>