<div *ngIf="avioCompany" class="card mt-2 ml-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{avioCompany.name}} <span class="badge badge-warning">{{avioCompany.rating}}</span></h5>
      <h6 class="card-subtitle mb-2 text-muted">{{avioCompany.address}}</h6>
      <p class="card-text">{{avioCompany.description}}</p>
      <a href="#" class="card-link" [routerLink]="['/avio-company/updateAvioCompany/',avioCompany.id]">Update</a>
    </div>
  </div>

  <!--<div *ngIf="avioCompany" class="jumbotron">
      <h1 class="display-4">{{avioCompany.name}}</h1>
      <p class="lead">{{avioCompany.address}}</p>
      <hr class="my-4">
      <p>{{avioCompany.description}}</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Izmeni</a>
      </p>
    </div>-->