img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2{
    text-align: center;
}

p>a{
    border-color : #61892f;
    color: #61892f;
}

p>a:hover{
    background-color: #61892f;
    color: white;
}

.dugme{
    text-align: right;
}