<div class="row-inline mt-3 container">
  <div class="row">
    <div class="col-sm">
      <img class="rounded-circle" src="assets/Img/Avion.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Avio Company</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p class="dugme"><a class="btn btn-outline-secondary" href="#" role="button" [routerLink]="'/avio-company/showAvioCompanies'">Pretraži »</a></p>
    </div>
    <div class="col-sm">
      <img class="rounded-circle" src="assets/Img/Hotel.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Hotel</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p class="dugme"><a class="btn btn-outline-secondary" href="#" role="button">Pretraži »</a></p>
    </div>
    <div class="col-sm">
      <img class="rounded-circle" src="assets/Img/Car.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Rent a car</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p class="dugme"><a class="btn btn-outline-secondary" href="#" role="button" [routerLink]="'/rent-a-car'">Pretraži »</a></p>
    </div>
  </div>
</div>
<app-home *ngIf="isUser"></app-home>