<div>

  <mat-toolbar fxLayout="row" fxLayoutGap="35%">
    <span>
        <button mat-raised-button class="back-button" [routerLink]="'../'">Back</button>
        <button mat-raised-button style="margin-left:10%;"  class="edit-button" 
            [routerLink]="'/edit-rent-a-car/' + rentACarId">Edit</button>
    </span>
    <span >{{rentACar?.name}}</span>
    
  </mat-toolbar>
  <div fxLayout="row" style="margin-top:3%;" fxLayoutAlign="space-evenly space-around">
      <mat-card style="max-width: 25%; min-width: 25%;" >
          <mat-card-header>
              <div mat-card-avatar ><mat-icon style="color: red">place</mat-icon></div>
              <mat-card-title>Address</mat-card-title> 
          </mat-card-header>
          <mat-card-content>
            {{rentACar?.address }}
          </mat-card-content>
        </mat-card>

        <mat-card style="max-width: 20%;min-width: 20%;" >
                <mat-card-header>
                    <mat-card-title>Description</mat-card-title> 
                </mat-card-header>
                <mat-card-content>
                  {{rentACar?.description }}
                </mat-card-content>
        </mat-card>

        <mat-card style="max-width: 25%;min-width: 25%;" >
            <mat-card-header>
                <mat-card-title>Income</mat-card-title> 
                <div>
                    <mat-form-field>
                        <input matInput [matDatepicker]="pickerFrom" [value]="dateFrom"
                        placeholder="Date from" (dateChange)="dateIncomeChange($event, true)">
                        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                        <mat-datepicker #pickerFrom ></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [matDatepicker]="pickerTo" [value]="dateTo"
                        placeholder="Date to" (dateChange)="dateIncomeChange($event, false)">
                        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                        <mat-datepicker #pickerTo ></mat-datepicker>
                    </mat-form-field>
                </div>
            </mat-card-header>
            <mat-card-content>
              {{income + ' $'}}
            </mat-card-content>
        </mat-card>

      <mat-card style="max-width: 25%; min-width: 25%;" >
        <mat-card-header>
            <mat-card-title>Rating</mat-card-title> 
        </mat-card-header>
        <mat-card-content fxLayout="row" fxLayoutAlign="center center">
            <ngx-charts-pie-chart
            [view]="[150 , 150]"
            [results]="ratingData"
            [gradient]="gradient">
          </ngx-charts-pie-chart>
        </mat-card-content>
    </mat-card>
  </div>
 
  <div fxLayout="row" style="margin-top:3%;" fxLayoutAlign="space-around space-around">

    

    <mat-card style="max-width: 40%; min-width:40%;" >
            <mat-card-header>
                <mat-card-title>Reserved cars info</mat-card-title> 
                <mat-select placeholder="Granularity" [(value)]="granularity"
                    (selectionChange)="granularityChange()" >
                        <mat-option  value="DAY">Day</mat-option>
                        <mat-option  value="WEEK">Week</mat-option>
                        <mat-option  value="MONTH">Month</mat-option>
                </mat-select>
            </mat-card-header>
            <mat-card-content fxLayout="row" fxLayoutAlign="center center">
                <ngx-charts-line-chart
                [view]="[500 , 300]"
                [results]="reservedCarData"
                [xAxis]="true" [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [xAxisLabel]="'Date'"
                [yAxisLabel]="'Reserved cars'"
                [showGridLines]="true">
              </ngx-charts-line-chart>
            </mat-card-content>
        </mat-card>

    <mat-card style="max-width: 50%; min-width: 50%;" >
        <mat-card-header>
            <mat-card-title>Branches</mat-card-title> 
        </mat-card-header>
        <mat-card-content>
            <branch-list [rentACarId]="rentACarId" ></branch-list>
        </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="row" style="margin-top:3%;" fxLayoutAlign="space-evenly space-around">
    <mat-card fxFlex>
        <mat-card-header>
            <mat-card-title>Cars</mat-card-title> 
        </mat-card-header>
        <mat-card-content>
            <car-list [rentACarId]="rentACarId" ></car-list>
        </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="row" style="margin-top:3%;" fxLayoutAlign="center center">
    <mat-card style="max-width: 65%; min-width: 65%;">
        <mat-card-header>
            <mat-card-title>Quick Tickets</mat-card-title> 
        </mat-card-header>
        <mat-card-content>
            <car-quick-ticket-list [rentACarId]="rentACarId" ></car-quick-ticket-list>
        </mat-card-content>
    </mat-card>   
  </div>

</div>