<form class="form-container" [formGroup]="form" fxLayout="column" fxLayoutAlign="center">

  <mat-form-field class="form-field">
    <input matInput placeholder="Name" formControlName="name" required>
    <mat-error >Name is required!</mat-error>
  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput placeholder="Brand" formControlName="brand" required>
    <mat-error>Brand is required!</mat-error>
  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput placeholder="Model" formControlName="model" >
    <mat-error>Model is required!</mat-error>
  </mat-form-field>

  <mat-form-field >
      <mat-select placeholder="Type" formControlName="carType" required>
          <mat-option  value="PASSENGER_CAR">
              Passenger car
          </mat-option>
          <mat-option  value="FREIGHT_CAR">
              Freight car
          </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput type="number" placeholder="Year" formControlName="year" >
    <mat-error  *ngIf="form.controls.year.errors?.required" >Year is required!</mat-error>
    <mat-error  *ngIf="form.controls.year.errors?.pattern" >Year must contain four digit number</mat-error>
    <mat-error  *ngIf="form.controls.year.errors?.min" >Year must be greater or equal than 1885</mat-error>
  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput type="number" placeholder="Price" formControlName="price" >
    <mat-error  *ngIf="form.controls.price.errors?.required" >Price is required</mat-error>
    <mat-error  *ngIf="form.controls.price.errors?.pattern" >Price must contain just numbers</mat-error>
  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput type="number" placeholder="Seats" formControlName="seats" >
    <mat-error  *ngIf="form.controls.seats.errors?.required" >Seats are required</mat-error>
    <mat-error  *ngIf="form.controls.seats.errors?.pattern" >Seats must contain just numbers</mat-error>
  </mat-form-field>

  <br>
  <div fxLayout="row" fxLayout="start">
    <button mat-raised-button color="primary" (click)="saveCar()">Save car</button>
  </div>
</form>
