<div fxLayout="row" style="margin-top:3%;" fxLayoutAlign="space-evenly space-around">
    <mat-card style="max-width: 25%; min-width: 25%;">
        <mat-card-header>
            <mat-card-title>Welcome</mat-card-title> 
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column" fxLayoutGap="5%">
                <a mat-flat-button routerLink="." style="background-color: lightblue;">Avio companies</a>
                <a mat-flat-button routerLink="." style="background-color: lightblue;">Hotels</a>
                <a mat-flat-button routerLink="rent-a-car" style="background-color: lightblue;">Rent-a-cars</a>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card style="max-width: 65%;  min-width: 65%;">
        <mat-card-header>
            <mat-card-title>Quick reservations</mat-card-title> 
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Avio tickets"> 
                    Content 1 
                </mat-tab>
                <mat-tab label="Hotel tickets"> 
                    Content 2 
                </mat-tab>
                <mat-tab label="Rent-a-car tickets"> 
                    <ng-template matTabContent>
                        <car-quick-ticket-list [isReservation]="true"></car-quick-ticket-list> 
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>

<div fxLayout="row" style="margin-top:3%;" fxLayoutAlign="space-evenly space-around">
    <mat-card style="max-width: 65%;  min-width: 65%;">
        <mat-card-header>
            <mat-card-title>History</mat-card-title> 
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Avio history"> 
                    Content 1 
                </mat-tab>
                <mat-tab label="Hotel history"> 
                    Content 2 
                </mat-tab>
                <mat-tab label="Rent-a-car history"> 
                    <ng-template matTabContent>
                        <car-reservation-history></car-reservation-history>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>

    <mat-card style="max-width: 25%; min-width: 25%;">
        <mat-card-header>
            <mat-card-title>User stuff</mat-card-title> 
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column" fxLayoutGap="5%">
                <a mat-flat-button routerLink="." style="background-color: lightgreen;">Profile</a>
                <a mat-flat-button routerLink="." style="background-color: lightgreen;">Friends</a>
                <a mat-flat-button routerLink="." style="background-color: lightgreen;">Friend invites</a>
            </div>
        </mat-card-content>
    </mat-card>
</div>