<div fxLayout="column" fxLayoutAlign="start center">
  <div class="header-container" fxLayout="row" fxLayoutAlign="center center ">
        <h2>{{header}}</h2>
  </div>
  <form class="container-40" [formGroup]="form" fxLayout="column" fxLayoutAlign="center">

    <mat-form-field class="form-field">
      <input matInput placeholder="Service name" formControlName="name" required>
      <mat-error >Service name is required!</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput placeholder="Address" formControlName="address" required>
      <mat-error>Address is required!</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput placeholder="Description" formControlName="description" >
    </mat-form-field>

    <br>
    <div fxLayout="row" fxLayout="start" fxLayoutAlign="space-between">
      <button mat-raised-button class="back-button"  [routerLink]="'/rent-a-car'">Back</button>
      <button mat-raised-button color="primary" (click)="saveRentACar()">Save</button>
    </div>
  </form>
</div>