<div *ngIf="user" class="container">
  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="mt-2 mb-2" style="text-align: center;">
          <img *ngIf="this.authService.getUserType() == 'USER'" 
                class="img" src="assets/Img/userBlack.png" alt="Generic placeholder image"
                height="128px" width="128px">
          <img *ngIf="this.authService.getUserType() != 'USER'"
          class="img" src="assets/Img/administratorBlack.png" alt="Generic placeholder image"
                height="128px" width="128px">
        </div>
      <div class="row">
          <div class="col-md-5">
              <label style="font-weight:bold;">Ime</label>
          </div>
          <div class="col-md-7">
              {{user.firstName}}
          </div>
      </div>
      <hr />

      <div class="row">
          <div class="col-md-5">
              <label style="font-weight:bold;">Prezime</label>
          </div>
          <div class="col-md-7">
              {{user.lastName}}
          </div>
      </div>
      <hr />

      <div class="row">
          <div class="col-md-5">
              <label style="font-weight:bold;">E-mail</label>
          </div>
          <div class="col-md-7">
              {{user.email}}
          </div>
      </div>
      <hr />
      <div class="row">
          <div class="col-md-5">
              <label style="font-weight:bold;">Grad</label>
          </div>
          <div class="col-md-7">
              {{user.city}}
          </div>
      </div>
      <hr />
      <div class="row">
          <div class="col-md-5">
              <label style="font-weight:bold;">Broj telefona</label>
          </div>
          <div class="col-md-7">
              {{user.telephone}}
          </div>
      </div>
      <hr />
      <div style="text-align: right">
            <button class="btn btn-outline-success mr-2"
            [routerLink]="'/profile/updatePassword'" >Izmeni sifru</button>
              <button class="btn btn-outline-success"
                      [routerLink]="'/profile/update'" >Izmeni profil</button>
      </div>
      </div>
      <div class="col-md-4"></div>
  </div>
</div>

<div style="margin-top:30px;">
        <table class="container table mt-3 table-hover" style="text-align:center">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" colspan="10" >
                        Rezervisani Letovi
                    </th>
                </tr>
                  <tr>
                    <th scope="col">Avio kompanija</th>
                    <th scope="col">Polaziste</th>
                    <th scope="col">Odrediste</th>
                    <th scope="col">Vreme poletanja</th>
                    <th scope="col">Vreme sletanja</th>
                    <th scope="col">Duzina puta</th>
                    <th scope="col">Trajanje puta(min)</th>
                    <th scope="col">Broj presedanja</th>
                    <th scope="col">Cena</th>
                    <th scope="col">Manipulaciyja</th>
                  </tr>
                </thead>
                <tbody *ngIf="searchedFlights">
                    <ng-container *ngFor="let flight of searchedFlights.slice().reverse(); let i = index">
                        <tr *ngIf="flight?.nameOfAvioCompany">
                            <th>{{flight.nameOfAvioCompany}}</th>
                            <th>{{flight.starting_point_id.nameOfAirPort}}</th>
                            <th>{{flight.destination_id.nameOfAirPort}}</th>
                            <th>{{flight.dateAndTimeStart.slice(0,16).replace('T', ' ')}}</th>
                            <th>{{flight.dateAndTimeEnd.slice(0,16).replace('T', ' ')}}</th>
                            <th>{{flight.lengthOfTravel}}</th>
                            <th>{{flight.timeOfTravel}}</th>
                            <th>{{flight.destinationOfTransfer.length}}</th>
                            <th>
                                    <div *ngIf="flight.ecconomic">
                                        Econ:{{flight.ecconomic.price}}
                                    </div>
                                    <div *ngIf="flight.business">
                                        <br>
                                        Bizn:{{flight.business.price}}
                                    </div>
                                    <div *ngIf="flight.first">
                                        <br>
                                        Prva:{{flight.first.price}}
                                    </div>
                                    </th>
                            <th>
                                    <button *ngIf="flight.done" class="btn btn-secondary" (click)="otkazi(flight.id)">Otkazi</button>
                            </th>
                        </tr>
                    </ng-container>
                </tbody>
              </table>
            </div>